body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;

  background: var(--black-900);

  font-family: 'Montserrat', sans-serif;
  color: var(--gray-50);
}

a {
  font-size: clamp(1.6rem, 1.9rem, 2vw);
  color: var(--gray-50);
  text-decoration: none;
  transition: all .2s ease;
  cursor: pointer;
}

button {
  cursor: pointer;
  border-style: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1, h2, h3 {
  text-transform: capitalize;
}

h1, h2 {
  font-weight: 900;
}

h2 {
  color: var(--gray-100);
  font-size: clamp(3rem, 5vw, 5.6rem);
}

h3 {
  font-size: clamp(1.6rem, 2.6vw, 2.2rem);
  font-weight: 800;
}

h4 {
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: 500;
}

p {
  font-size: clamp(1.6rem, 1.9rem, 2vw);
  line-height: 183%;
}

input[type="email"] {
  background: none;
  border: none;

  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1.6rem, 1.9rem, 2vw);
  color: var(--gray-50);
  outline: none;
}

#app {
  width: min(95%, 166rem);
}