.companies-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: min(11.2rem, 5vw);
  margin-bottom: 19rem;
}

.companies-section img {
  width: min(24rem, 50%);
}