.copyright-section {
  position: absolute;
  left: 0;
  width: 100%;

  text-align: center;
  padding-top: 3.2rem;
  padding-bottom: 4.8rem;
  border-top: 2px solid var(--violet-100-opacity-30);
  }
  
.copyright-section a {
  font-weight: 700;
}