.main-banner {
  display: flex;
  align-items: center;
  gap: 4.3rem;
}

.main-banner .title {
  font-size: clamp(4rem, 9.6rem, 6vw);
  margin-bottom: 3.2rem;

  color: transparent;
  background: url(/src/assets/images/banner-title-bg.png) right text;
}