.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.3rem;
  margin-bottom: 19.4rem;
}

.main-banner > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-banner h1 {
  font-size: clamp(4rem, 9.6rem, 6vw);
  margin-bottom: 3.2rem;

  color: transparent;
  background: url(../assets/images/banner-title-bg.png) right text;
}

.main-banner p {
  margin-bottom: 6rem;
}

.main-banner .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.main-banner img {
  display: none;
  width: clamp(42.3rem, 82.3rem, 40vw);
  height: clamp(42.3rem, 82.3rem, 40vw);
  background: var(--violet-50-opacity-14);

  border-radius: 100%;
  border: .4rem solid var(--violet-100-opacity-11);
}

@media (min-width: 1000px) {
  .main-banner img {
    display: block;
  }
}

@media (min-width: 400px) {
  .main-banner .wrapper {
    flex-direction: row;
  }
}