.main-btn {
  background: var(--gradient-violet-fuchsia);
  color: var(--gray-50);
  padding: 1.5rem 4.3rem;
  text-transform: capitalize;

  font-size: clamp(1.4rem, 1.9rem, 3vw);
}

.main-btn.-no-bg {
  padding: 1.3rem 4.3rem;
  background: none;
  border: .2rem solid;
  border-image-slice: 1;
  border-image-source: var(--gradient-violet-fuchsia);
}

.main-btn.-rounded {
  border-radius: 1rem;
}