.main-header, .main-header ul, .main-header div {
  display: flex;
  align-items: center;
}

.main-header {
  width: 100%;
  justify-content: space-between;

  margin-top: 3.8rem;
  margin-bottom: 9.1rem;
}

.main-header .logo {
  z-index: 1;
}

.main-header ul {
  gap: 5.6rem;
}

.btn-wrapper {
  display: flex;
  gap: 1.8rem;
}

.main-header nav, .main-header .main-btn {
  display: none;
}

@media (min-width: 1200px) {
  .main-header nav, .main-header .main-btn  {
    display: initial;
  }
}