.main-footer, .main-footer .socials, .main-footer .links ul {
  display: flex;
  flex-direction: column;
}

.main-footer {
  align-items: center;
  margin-bottom: 10rem;
}

.main-footer > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 9.6rem;
  width: 100%;
}

.main-footer .socials {
  align-items: flex-start;
  gap: 2.4rem;
}

.main-footer .socials ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.main-footer .socials .fa-brands {
  background: var(--gradient-violet-fuchsia);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  font-size: 1.5rem;
}

.main-footer .socials a {
  display: flex;
  justify-content: center;
  width: 4.6rem;
  height: 4.6rem;
  background: var(--violet-50-opacity-14);
  border: 1px solid var(--violet-100-opacity-40);
  border-radius: 100%;
  padding: 1.5rem;
  transition: background .2s ease;
}

.main-footer .socials a:hover {
  background: var(--violet-50-opacity-30);
}

.main-footer .links {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
  width: min(94rem, 100%);
}

.main-footer .links h3 {
  margin-bottom: 2.4rem;
}

.main-footer .links ul {
  gap: 1.6rem;
}

@media (min-width: 1150px) {
  .main-footer > div:first-of-type {
    flex-wrap: nowrap;
  }
}