.main-header, .main-header ul, .main-header div {
  display: flex;
  align-items: center;
}

.main-header {
  justify-content: space-between;
  margin-top: 3.8rem;
}

.main-header nav {
  display: none;
}

.main-header ul {
  gap: 5.6rem;
}

.btn-wrapper {
  gap: 1.7rem;
}

@media (min-width: 1200px) {
  .main-header nav {
    display: initial;
  }
}