.main-header, .main-header ul, .main-header div {
  display: flex;
  align-items: center;
}

.main-header {
  justify-content: space-between;
  margin-top: 3.8rem;
}

.main-header ul {
  gap: 5.6rem;
}

.main-header div:last-child {
  gap: 1.7rem;
}

.main-header nav a {
  position: relative;
}

.main-header nav a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 2.5rem;
  background: none;
  width: 100%;
  height: .6rem;
  border-radius: 100%;
  transition: all .2s ease;
}

.main-header nav a:hover {
  color: var(--fuchsia-500);
}

.main-header nav a:hover::after {
  background: var(--indigo-900);
}