.logo {
  font-weight: 800;
  font-size: clamp(3.4rem, 3.6rem, 3vw);
  background: linear-gradient(var(--violet-600) 0%, var(--fuchsia-500) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}