.nfts-carousell {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black-900);
}

.nfts-carousell .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  flex-wrap: wrap;
}

.nfts-carousell .card {
  background: center no-repeat;
  background-size: cover;
  border-radius: 1rem;
  width: min(52rem, 80%);
  height: min(63.2rem, 100vw);
  padding: 0 4rem;
}

.nfts-carousell h2 {
  margin-bottom: 6rem;
}

.nfts-carousell img {
  border-radius: 100%;
  width: min(3.6rem, 100%);
  height: min(3.6rem, 100%);
}

.nfts-carousell .info {
  display: flex;
  flex-direction: column;

  background: var(--gray-100);
  border-radius: 2.4rem;
  padding: 2.4rem;
}

.nfts-carousell .info div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nfts-carousell .info div:first-of-type {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.nfts-carousell .info div:last-of-type {
  margin-bottom: 2.4rem;
}

.nfts-carousell .axe {
  background-image: url(./../assets/images/lighting-axe.png);
}

.nfts-carousell .skeleton {
  background-image: url(./../assets/images/skeleton-head.png);
}

.nfts-carousell .breath {
  background-image: url(./../assets/images/hard-breath.png);
}

