.nfts-carousell {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black-900);
}

.nfts-carousell .wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nfts-carousell .card {
  background: center no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

.nfts-carousell h2 {
  margin-bottom: 6rem;
}

.nfts-carousell img {
  border-radius: 100%;
}

.nfts-carousell .axe {
  background-image: url(./../assets/images/lighting-axe.png);
}

.nfts-carousell .skeleton {
  background-image: url(./../assets/images/skeleton-head.png);
}

.nfts-carousell .breath {
  background-image: url(./../assets/images/hard-breath.png);
}

