.nfts-carousell {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black-900);
  height: 94rem;
}

.nfts-carousell .card {
  background: center no-repeat;
  background-size: cover;
  border-radius: 1rem;
  width: min(52rem, 100%);
  height: min(63.2rem, 100vw);
  padding: 0 4rem;
  margin: 0 auto;
  margin-bottom: 15rem;
}

.nfts-carousell h2 {
  margin-bottom: 6rem;
  text-align: center;
}

.nfts-carousell img {
  border-radius: 100%;
  width: min(3.6rem, 100%);
  height: min(3.6rem, 100%);
}

.nfts-carousell .info {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 83%;

  background: var(--gray-100);
  border-radius: 2.4rem;
  padding: 1.4rem;
}

.nfts-carousell .info div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nfts-carousell .info div:first-of-type {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.nfts-carousell .info div:last-of-type {
  margin-bottom: 1.4rem;
}

.nfts-carousell .axe {
  background-image: url(./../assets/images/lighting-axe.png);
}

.nfts-carousell .skeleton {
  background-image: url(./../assets/images/skeleton-head.png);
}

.nfts-carousell .breath {
  background-image: url(./../assets/images/hard-breath.png);
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  --swiper-navigation-color: #d9d8e2;
  --swiper-pagination-color: #d9d8e2;

  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bullet-inactive-color: #595572;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

@media (min-width: 420px) {
  .nfts-carousell .info {
    padding: 2.4rem;
  }

  .nfts-carousell .info div:last-of-type {
    margin-bottom: 2.4rem;
  }

  .swiper {
    --swiper-pagination-bullet-size: 20px;
  }
}

@media (min-width: 750px) {
  .swiper {
    --swiper-pagination-bullet-size: 30px;
  }
}