.shades-wrapper {
  z-index: -1;
}

.shade {
  background: radial-gradient(50% 50% at 50% 50%, var(--purple-700-with-low-opacity) 0%, var(--gray-900-with-low-opacity) 100%);
  filter: blur(217px);
}

.shades-wrapper .shade1 {
  position: absolute;
  width: 1285px;
  height: 1285px;
  left: -63.5rem;
  top: 45%;
}