.shades-wrapper {
  z-index: -1;
}

.shades-wrapper .shade {
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, var(--purple-700-with-low-opacity) 0%, var(--gray-900-with-low-opacity) 100%);
  filter: blur(21.7rem);
}

.shades-wrapper .shade1 {
  width: 128.5rem;
  height: 128.5rem;
  top: 45%;
  left: -63.5rem;
}

.shades-wrapper .shade2 {
  width: 88.7rem;
  height: 88.7rem;
  top: 218.8rem;
  left: 30%;
}

@media (min-width: 864px) {
  .shades-wrapper .shade2 {
    left: 70%;
  } 
}