.shade {
  z-index: -1;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, var(--purple-700-with-low-opacity) 0%, var(--gray-900-with-low-opacity) 100%);
  filter: blur(21.7rem);
}

.shade1 {
  width: 128.5rem;
  height: 128.5rem;
  top: 5%;
  left: -63.5rem;
}

.shade2 {
  width: 88.7rem;
  height: 88.7rem;
  top: 218.8rem;
  left: 30%;
}

.shade3 {
  width: 53.3rem;
  height: 53.3rem;
  right: -25rem;
  bottom: 0;
}

@media (min-width: 864px) {
  .shade2 {
    left: 70%;
  } 
}