.subscription-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.1rem;
  width: 100%;
  margin-bottom: 12.6rem;
}

.subscription-section > div:first-of-type {
  position: relative;
}

.subscription-section img {
  width: min(61.6rem, 100%);
}

.subscription-section h2 {
  margin-bottom: 3.5rem;
}

.subscription-section p {
  margin-bottom: 6rem;
}

.subscription-section form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  background: var(--violet-50-opacity-14);
  border: .2rem solid var(--violet-100-opacity-40);
  border-radius: 1rem;

  padding: 1.4rem 1.4rem;
}

.subscription-section input, .subscription-section button {
  width: 100%;
}

@media (min-width: 501px) {
  .subscription-section form {
    padding-left: 4rem;
  }

  .subscription-section input, .subscription-section button {
    width: initial;
  }
}