:root {
  --black-900: #04040c;

  --gray-900-with-low-opacity: #11111100;
  --gray-100: #f2f2f2;
  --gray-50: #f0f0f0;

  --violet-600: #5C43F6;
  --violet-100: #535488;
  --violet-100-opacity-11: #5354881c;
  --violet-100-opacity-40: #53548866;
  --violet-50-opacity-14: #869bdf14;
  --violet-50-opacity-24: #869bdf24;

  --purple-700-with-low-opacity: #6f1adb42;

  --fuchsia-500: #bc61f3;

  --indigo-900: #3a3653;

  --gradient-violet-fuchsia: linear-gradient(#5C43F6, #bc61f3);

  --shadow: #ffffff14;
}