:root {
  --black-900: #04040c;
  --gray-50: #f0f0f0;
  --violet-600: #5C43F6;
  --violet-100: #535488;
  --violet-100-low-opacity: #5354881c;
  --violet-50-low-opacity: #869bdf14;
  --fuchsia-500: #bc61f3;
  --indigo-900: #3a3653;
  --gradient-violet-fuchsia: linear-gradient(#5C43F6, #bc61f3);
}